@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --appDarkCyan: hsl(158, 36%, 37%);
    --appCream: hsl(30, 38%, 92%);
    --appVeryDarkBlue: hsl(212, 21%, 14%);
    --appDarkGrayishBlue: hsl(228, 12%, 48%);
    --appWhite: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--appCream);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

main {
    max-width: 370px;
    background: var(--appWhite);
    border-radius: 15px;
}


.image .mobile  {
    width: 100%;
    border-radius: 15px 15px 0 0;

}

.destok{
    display: none;
}

.text {
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.category{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--appDarkGrayishBlue);
    font-weight: 500;
    font-size: 12px;
}

.name{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--appVeryDarkBlue);
}
p{
    color: var(--appDarkGrayishBlue);
    font-size: 15.3px;
    line-height: 24px;
}
.price{
    display: flex;
    align-items: center;
    gap:20px;
}
.new{
    color: var(--appDarkCyan);
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 700;

}
.past{
    color: var(--appDarkGrayishBlue);
    font-weight: 400;
    text-decoration: line-through;
}

button{
    display: flex;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: var(--appWhite);
    background: var(--appDarkCyan);
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
button:hover{
    cursor: pointer;
    background: var(--appVeryDarkBlue);
    font-size: 11px;
}
@media screen and (min-width:900px) {
    main{
        display:flex;
        max-width:600px;
        
    }
    .image{
     
    }
    .image .mobile {
        display: none;
    }

    .destok{
        display: flex;
        height: 100%;
        width:300px;
        border-radius: 15px 0 0 15px;
    }
}